.caixinha{
    background-color: pink;
    border-radius: 8px;
    display: inline-block;
}
.caixa{
    background-color: pink;
    border-radius: 8px;
    display: block;
}
.sidebarDireita{
    width: 15%;
    background: #dc3545;
    height: 100%;
    position: fixed;
    top:0;
    right:8.3vw;
    z-index: 2;
    
}
.mensagemItem{
    background:white;
    position: relative;
    z-index:3;
    width: 12vw;
    height: 7vh;
}