
/*     TAGS GERAIS INICIO     */
html, body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: var(--lightest-red);
}
:root{
    --dark-red: #7f1d1d;
    --medium-dark-red: #af1d1d;
    --medium-red: #fa9d9d;
    --light-red: #fa9a9a;
    --lightest-red: #fee2e2;

    --dark-gray: #27272a;
    --medium-gray: #a8a8a8;
    --light-gray: #dedede;

    --medium-blue: #2563eb;
    --light-blue: #60a5fa;

    --sky-light: #57beea;
    --sky-medium: #0284c7;

    --dark-green: #15803d;
}
.logo{
    font-family: cursive;
    font-size: 1.8em;
    padding-left: 15px;
}
/*     TAGS GERAIS FIM     */

/*     TAGS HEADER INICIO     */

.submit-button-reg{
    border-radius: 999px;
    background-color: var(--sky-light);
    padding: 0.5rem 1.5rem;
    color: white;
    float: right;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    margin-right: 4rem;
}
.submit-button{
    border-radius: 999px;
    background-color: var(--sky-light);
    padding: 0.5rem 1.5rem;
    color: white;
    float: right;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}
.submit-button-non{
    border-radius: 999px;
    background-color: var(--sky-light);
    padding: 0.5rem 1.5rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    border: none;
    margin-left: 4rem;
    margin-bottom: 2rem;
}
.submit-button-reg:disabled{
    cursor: auto;
    background-color: var(--medium-gray);
}
.submit-button:disabled{
    cursor: auto;
    background-color: var(--medium-gray);
}
.submit-button-non:disabled{
    cursor: auto;
    background-color: var(--medium-gray);
}
.submit-button-reg:disabled:hover{
    background-color: var(--medium-gray);
}
.submit-button:disabled:hover{
    background-color: var(--medium-gray);
}
.submit-button-non:disabled:hover{
    background-color: var(--medium-gray);
}
.navbar{
    background: #c00221;
    position: relative;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.navbar span{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.navbar input{
    border: 0px solid black;
    border-radius: 10px;
    align-items: center;
}
.navbar i{
    font-size: 2em;
    color: #fff;
}

/*     TAGS HEADER FIM     */

/*     TAGS MAIN INICIO     */

.sidebar{
    width: 20%;
    background: #dc3545;
    height: 100%;
    position: fixed;
    top:0;
    z-index: 2;
    
}
.logo_puc{
    width: 150px;
}
.sidebar ul:first-child{
    padding-top: 50%;

}
.sidebar nav ul li a{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #fff;
}
.sidebar nav ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar nav ul{
    position: sticky;
    right: 15px;
}
.sidebar i{
    padding-right: 30px;
    font-size: 1.3em;
    max-width: 20px;
}
/*   ROW MAIN INICIO   */

.main{
    background: #fce6e6;
    margin: 0;
    justify-content: space-between;
}
.conteudo{
    width: 76%;
    min-height: 600px;
}
.main section{
    position: relative;
    left: 24%;
}
.main > div{
    margin-left: 0rem;
}

.center{
    margin: 0 auto;
    text-align: center;
}
.center div{
    padding: 4px;
    
}
.opcao{
    width: 90%;
}
.negrito{
    font-weight: bolder;
}
.titulo{
    font-weight: 700;
    font-size: 2.3em;
}
.subtitulo{
    font-size: 1.7em;
    font-weight: 400;

}
.tela{
    margin: 10px 0;
}
.enunciado{
    font-size: 1.1em;
    font-weight: 100;
}
.justify{
    text-align: justify;
}
.enunciado{
    font-size: 1.1em;
}
.divQuestao{
    margin-left: 10px;
    margin-right: 10px;
}
#btnApagarCriarAtividade{
    margin: 10px;
}
#btnApagarVisualizacaoAtividade{
    margin: 10px;
}

.inline{
    display: inline;
}
.cartao-main{
    width: 320px;
    height: 250px;
    margin: 15px;
}
.titulo-main{
    margin-top: 10px;
    margin-left: 30px;
}
/*   ROW MAIN FIM   */

/*  ROW FOOTER INICIO*/

.footer {
    position: inherit;
    bottom: 0;
    margin: 0;
    background: #dc3545;
    width: 100%;
    z-index: 2;

}
.footer p{
    color: #fff;
}
.input{
    margin: 0 auto;
    max-width: 80%;
}
label{
    font-weight: bolder;
}

/*  ROW FOOTER FIM*/
.none{
    display: none;
}
.modal-aside{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    z-index: 1;
    animation: aside-animation 350ms ease-in-out;
    overflow: auto;
    background-color: var(--medium-dark-red);
}

@keyframes aside-animation{
    from{left:-500px;}
    to{left:0;}
}
/*     TAGS MAIN FIM     */

@media screen and (max-width: 600px){
    .aside-option{
        display: none;
    }
    .sidebar{
        width: 15%;
        background: #dc3545;
        height: 100%;
        position: fixed;
        top:0;
        z-index: 2;
    }
    #qualAtividade{
        width: 200px;
    }
    .sidebar ul:first-child{
        padding-top: 90px;
    
    }
    body{
        font-size: smaller;
    }
    .cartao-main{
        width: 230px;
        height: 350px;
        margin: 15px;
    }
    button{
        width: 180px;
    }
    #conteudoVer{
        width: 150px;
    }
    select{
        width: 200px;
    }
}

@media screen and (min-width: 601px) and (max-width: 930px) {
    .aside-option{
        display: none;
    }
    
    .sidebar{
        width: 15%;
        background: #dc3545;
        height: 100%;
        position: fixed;
        top:0;
        z-index: 2;
    }
    .sidebar ul:first-child{
        padding-top: 90px;
    
    }
    .cartao-main{
        width: 240px;
        height: 350px;
        margin: 15px;
    }
    .btn{
        width: 180px;
    }
    body{
        font-size: small;
    }
    #conteudoVer{
        width: 200px;
    }
    select{
        width: 300px;
    }
}