
/*     TAGS GERAIS INICIO     */
html{
    margin: 0;
    padding: 0;
}
.logo{
    font-family: cursive;
    font-size: 1.8em;
    padding-left: 15px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*     TAGS GERAIS FIM     */

/*     TAGS HEADER INICIO     */

.navbar{
    background: #c00221;
    position: relative;
    z-index: 3;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.navbar span{
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.navbar input{
    border: 0px solid black;
    border-radius: 10px;
    align-items: center;
}
.navbar i{
    font-size: 2em;
    color: #fff;
}

/*     TAGS HEADER FIM     */

/*     TAGS MAIN INICIO     */

.sidebar{
    width: 20%;
    background: #dc3545;
    height: 100%;
    position: fixed;
    top:0;
    z-index: 2;
    
}
.logo_puc{
    width: 150px;
}
.sidebar ul:first-child{
    padding-top: 30%;
}
.sidebar nav ul li a{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    color: #fff;
}
.sidebar nav ul li{
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebar nav ul{
    position: sticky;
    right: 15px;
}
.sidebar i{
    padding-right: 30px;
    font-size: 1.3em;
    max-width: 20px;
}
/*   ROW MAIN INICIO   */

.main{
    background: #fce6e6;
    margin: 0;
    justify-content: space-between;
}
.conteudo{
    width: 76%;
    min-height: 600px;
}
.main section{
    position: relative;
    left: 24%;
}

.center{
    margin: 0 auto;
    text-align: center;
}
.center div{
    padding: 4px;
    
}
.opcao{
    width: 90%;
}
.negrito{
    font-weight: bolder;
}
.titulo{
    font-weight: 700;
    font-size: 2.3em;
}
.subtitulo{
    font-size: 1.7em;
    font-weight: 400;

}
.tela{
    margin: 10px 0;
}
.enunciado{
    font-size: 1.1em;
    font-weight: 100;
}
.justify{
    text-align: justify;
}
.enunciado{
    font-size: 1.1em;
}
.divQuestao{
    margin-left: 10px;
    margin-right: 10px;
}
#btnApagarCriarAtividade{
    margin: 10px;
}
#btnApagarVisualizacaoAtividade{
    margin: 10px;
}

/*   ROW MAIN FIM   */

/*  ROW FOOTER INICIO*/

.footer {
    position: inherit;
    margin: 0;
    background: #dc3545;
    width: 100%;
    z-index: 2;

}
.footer p{
    color: #fff;
}
.input{
    margin: 0 auto;
    max-width: 80%;
}
label{
    font-weight: bolder;
}

/*  ROW FOOTER FIM*/

/*     TAGS MAIN FIM     */

